html, body{
    background-image:url('../images/topography.jpg');
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.wrapper{
    min-height:100%;
}

.wrapper:after{
    content:"";
    display:block;
}

.wrapper:after, footer{
    height: 100px;
}

li{
    display: inline-block;
}

h1{
    border:solid;
    border-color:#4aaaa5;
    background-color:#4aaaa5;
    width: 300px;
    padding: 25px;
    margin: 25px;
}

header {
    font-family: 'Georgia', Times, Times New Roman, serif;
    background-color:#ffffff;
    border-style:solid;
    border-color:#cccccc;
}

nav{
    font-family: 'Georgia', Times, Times New Roman, serif;
    position:relative;
    top: 11px;
    right: 960px;
    bottom:75 px;
    left: 860px;
}

footer,
push {
    color: white;
    text-align: center;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background-color: #666666;
    border-top: 5px solid #4aaaa5;
    height: 50px;
}


